@media screen and (max-width: 600px) {
  .wrap{
    overflow: hidden;
  }
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
  }
  .navtoggle {
    display: block;

  }
  .right ul{
    background-color: rgb(241, 159, 27);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    display: block;
    z-index: 212;
    transition: right 0.5s ease;
  
  }
  .right ul li{
    margin-bottom: 50px;
  }
  .navt{
    display: block;
    margin-left: 20px;
  }
  .logo {
    width: 270px;
    margin-left: -45px;
  }
  .rmain img {

    width: 200px;
    float: right;
    margin-top: -100px;
    margin-right: -20px;
    overflow: auto;
    margin-left: -90px;
  }
  .resp {
    height: 100vh;
  }
  .tooltip img{
    width: 93px;
  }
  .lmain h1 {
    font-size: 1.25rem;
  }
  .lmain .change {
    margin-right: 50px;
    font-size: 15px;
  }

  /* ABOUT */

  #about img{
    display: none;
  }
  #about{
    margin-left: -10px;
    /* padding-right: 30px; */
  }
  .niche{
    font-size: 15px;
    padding-right: 30px;
  }
   /* tech stack */
    .mts_heading{
      text-align: center;
    }

    
    /* projects */
    .contain{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    
    .boxim{
      display: flex;
      justify-content: center;
    }
    .footer{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    .footer_1 p{
      text-align: center;
    }
    .footer_3{
      margin-right: 20px;
    }
    .my_tech_stack_section{
      overflow: none;
    }
    
}
